layout {
    border {
        active-color "#f7b4c5aa"
        inactive-color "#a38b9035"
        urgent-color "#9b0000"
    }

    focus-ring {
        active-color "#f7b4c5aa"
        inactive-color "#a38b9040"
    }
}

overview {
    backdrop-color "#271d1f90"
}
